*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $ff-reg;
    font-size: $font-size-body;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.row {
    @include flex;
}