// MEDIA QUERIES FOR MOBILE

@media screen and (max-width: 768px) {
    .menu_toggle {
        display: inline-block;
        background: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        position: relative;
        width: 20px;
        height: 20px;

        .open {
            @include menu-icons;
            opacity: 1;
            transform: translate(-50%, -50%);
            transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
        }

        .close {
            @include menu-icons;
            opacity: 0;
            transform: translate(-50%, -50%) rotate(90deg);
            transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
        }
    }

    .open.active {
        opacity: 0;
        transform: translate(-50%, -50%) rotate(90deg);
    }

    .close.active {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
    }

    .logo {
        position: relative;
        z-index: 10;
    }

    .nav_list {
        background-color: $white;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 40vh;
        padding: 80px 40px 20px 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        transform: translateY(-40vh);
        transition: transform .5s;

        &-item:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    .nav_list.active {
        transform: translateY(0);
    }

    .btn.btn-black {
        display: none;
    }

    h1 {
        font-size: 32px;
    }

    footer {

        .footer-row {
            flex-direction: column;
            align-items: center;

            .footer_logo-box {
                padding-right: 0;
                justify-content: flex-start;

                .social {
                    margin-top: 40px;
                }
            }

            .footer_menu-box {
                margin-bottom: 100px;
            }

            .footer_copyright {
                margin-left: 0;
                align-items: center;
                justify-content: flex-start;
                height: 100%;

                a {
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .section_text {
        &-box {
            padding: 0 30px;
        }
    }
}

@media screen and (max-width: 560px) {
    h1 {
        font-size: 28px;
    }

    
    .section_text {
        &-box {
            p {
                margin: 20px 0;
            }
        }
    }
    
    
    .create {
        .row {
            @include column-reverse;
        }
    }

    .stories {
        .row {
        @include flex-column;
    }
}

    .everyone {
        .row {
            @include column-reverse;
        }
    }

    .section_text {
        width: 100%;
        height: 350px;
    }

    .section_image {
        width: 100%;
        height: 300px;
    }

    .section-create-img {
        background-image: url("../../images/create-and-share-mobile.jpg");
    }

    .section-stories-img {
        background-image: url("../../images/beautiful-stories-mobile.jpg");
    }
    
    .section-everyone-img {
        background-image: url("../../images/designed-for-everyone-mobile.jpg");
    }

    .grid {
        grid-template-columns: 1fr;
    }
}