// MEDIA QUERIES FOR TABLETS

@media screen and (max-width: 1023px) {
    h1 {
        font-size: 36px;
    }

    .section_text {
        width: 65%;
    }

    .stories {
        .section_text-box {
            max-width: 100%;
        }
    }

    .everyone {
        .section_text-box {
            max-width: 100%;
        }
    }

    .section_image {
        width: 35%;
    }

    .section-create-img {
        background-image: url("../../images/create-and-share-tablet.jpg");
        @include bg-center;
    }

    .section-stories-img {
        background-image: url("../../images/beautiful-stories-tablet.jpg");
        @include bg-center;
    }
    
    .section-everyone-img {
        background-image: url("../../images/designed-for-everyone-tablet.jpg");
        @include bg-center;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .features {
        .row {
            flex-direction: column;
        }

        p {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 800px) {
    .nav_list-item {
        margin-right: 25px;
    }
}