// FEATURES GRID
.features {
    .section_text {
        height: 480px;
    }
}

.section-features-img {
    background-image: url("../../../images/features-bg.jpg");
    @include bg-cover;
}

// BETA SECTION

.beta {
    background-image: url("../../../images/bg-beta.jpg");
    @include bg-cover;
    padding: 70px 0;
    height: 300px;

    h1 {
        width: 450px;
        max-width: 100%;
        padding-right: 10px;
    }

    a {
        display: inline-flex;
    }
}